*, *::before, *::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --th-background:rgba(230,230,230,.5);
    --button-color: #0067b8;
    --hover-color: #3399e7;
}

#logo{
    width: 100px;
    height: 100px;
    object-fit: cover;
    display: block;
}

img{
    width: 200px;
    height: 200px;
    object-fit: cover;
}

body{
    line-height: 1.5;
    background-color: #f4f4ea;
    
}

a{
    text-decoration: none;
    color: inherit;
}

.button, #submit{
    background-color: var(--button-color);
    color: #fff;
    border: .125rem solid transparent;
    padding: .5rem 1rem;
    font-size: 1rem;
    border-radius: .2rem;
    text-align: center;
}

input[id="email"]{
    padding: 10px;
    border-radius: .3rem;
    border: 1px solid gray;
    font-size: 1.1rem;
}

.button:hover, #submit:hover{
    background-color: var(--hover-color);
}

header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #fff;
    color: #000;
    border-bottom: 2px solid gray;
}

header .container{
    display: flex;
    align-items: center;
    gap: 10px;
}

header section{
    display: flex;
    position: relative;
}

header .menu{
    flex-direction: column;
    align-items: center;
    display: none;
    height: 100vh;
    width: 100%;
}

header ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    margin: .75rem 0;
}

a{
    display: inline-block;
}

footer a:hover{
    color: var(--hover-color);
}

header .options{
    position: absolute;
    top: 0;
    right: 20px;
    width: 38px;
    height: 45px;
    cursor: pointer;
    appearance: none;
    background: none;
    border: none;
    padding-top: 10px;
}

.options .bar, .options::before, .options::after{
    content: '';
    display: block;
    background-color: #000;
    width: 100%;
    height: 4px;
    margin: 8px 0;
    border-radius: 7px;
    transition: 0.4s;
}

.options:hover .bar{
    transform: translateX(10px);
    opacity: 50%;
}

.options.active:before{
    transform: rotate(-45deg) translate(-8px, 8px);
}

.options.active:after{
    transform: rotate(45deg) translate(-9px, -9px);
}

.options.active .bar{
    opacity: 0;
}

#home{
    padding-top: 100px;
    display: flex;
    margin-top: 20px;
    justify-content: center;
    gap: 5vw;
    background-color:#65c8f2;
}

.left{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    font-size: 1.25rem;
    margin-left: 10%;
    margin-right: -5%;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    margin-right: 10%;
}

.items{
    display: flex;
    flex-direction: column;
}

#pricing{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20%;
    margin-top: 3%;
}

#pricing img{
    width: 20%;
    height: 20%;
}

.right{
    display: flex;
    flex-direction: column;
    gap: 10%;
    justify-content: center;
    font-size: 1.5rem;
}

.right .button{
    font-size: 1.5rem;
}

#information h1{
    text-align: center;
    font-size: 2.5rem;
}

table {
    border-collapse: separate;
    border-spacing: 0 5vh;
    border: 0;
    width: 100%;
    margin-top: 3rem;
}

caption{
    font-size: 1.5rem;
}

tr th{
    text-align: center;
    background-color: var(--th-background);
    width: 30%;
    font-size: 1.25rem;
}

td ul{
    text-align: left;
    margin-top: 10px;
    font-size: 1.1rem;
    padding-left: 2.5%;
}

td li{
    font-size: initial;
}

td .margin-t{
    margin-top: 5%;
}

td li{
    list-style-type: none;
}


@media (min-width: 756px)
{
    header .options{
        display: none;
    }

    header section{
        flex-direction: row;
        align-items: center;
    }

    header .menu {
        display: flex;
        height: 100%;
        margin: 0;
    }

    header ul {
        flex-direction: row;
        margin: 0 auto;
        font-size: 1.5rem;
        gap: 30px;
    }
}

/* Mobile viewing */

@media (max-width: 755px){

    header section{
        flex-direction: column;
    }

    header .menu.show{
        display: flex;
    }

    header ul{
        height: 250px;
        justify-content: space-between;
        font-size: 2rem;
    }

    header ul li{
        padding-bottom: 75px;
    }

    #home{
        display: block;
        text-align: center;
    }

    #home .left{
        margin-left: -10%;
    }

    #home form{
        margin-left: 10%;
        padding-bottom: 10%;
    }

    .right{
        font-size: 1rem;
    }
    
    .right .button{
        font-size: 1rem;
    }

    #information h1{
        text-align: center;
        font-size: 1.5rem;
    }
}
